{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Agrégateur de news</h1>

    <a href="/article">Vers les articles divers</a>
    <a href="/apple">Vers les articles Apple</a>
    <a href="/tesla">Vers les articles Tesla</a>
{% endblock %}
